
@{
    ViewBag.Title = "Directory";
}

<h2>Directory</h2>

<body>
    <p>Hello, @ViewBag.user</p>

    @Html.ActionLink("View Employees", "Index", "Employees")
    @Html.ActionLink("View Projects", "Index", "Projects")
    @Html.ActionLink("View Clients", "Index", "Clients")
    @Html.ActionLink("View Contacts", "Index", "Contacts")
</body>