@model IEnumerable<SouthFork.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Current Projects</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

        form.example button:hover {
            background: #0b7dda;
        }

    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<br />
<p>

    @Html.ActionLink("Directory", "Directory", "Home", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("New Project", "Create", null, new { @class = "btn btn-primary" })
    <br />
</p>


@using (Html.BeginForm("Search", "Projects", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.TextBox("Searching", null, new { @placeholder = "Search Project Names...", @class = "form-control form-horizontal" })
    <button type="submit" class="btn btn-default form-horizontal"><i class="fa fa-search"></i></button>
    <input type="button" onclick="location.href='@Url.Action("Index", "Projects")'" value="See All Projects" class="btn btn-default">
}

<br />

<p>@Html.Raw((String)ViewBag.Results)</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.BudgetedDays)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DepositDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CompleteDate)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.ProjectPrice)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.ClientID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.BudgetedDays)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DepositDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CompleteDate)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.ProjectPrice)
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProjectID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectID })
            </td>
        </tr>
    }

</table>
